body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: #202020;
  color: azure;
  width: 100%;
}



#logo{
  font-size: 34px;
}
#btn{
  width: 250px;
  font-variant: small-caps;
  padding: 8px;
}
